body{
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(white, lightskyblue);
}

div{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

select{
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    padding-left: 5px;
    background-color:lightskyblue;
    border: none;
    border-radius: 15px;
    color: white;
    width: 110px;
    height: fit-content;
}